.comment{
    border-style: solid;
    border-width: 0.5px;
    margin: 5px;
    margin-left: 0px;
    padding-right: 10px;
    padding: 5px;
    margin-bottom: 1px;
}

.comment_text{
    color:#515151;
}

.commentator{
    font-size: 14px;
}
