.title{
    font-size:50px;
    font-family: Verdana;
    margin-left: 0px;
    color: #ff6600;
}

.page_indicator{
    font-family: Verdana;
    color: #3B83E5;
    font-weight: normal;
}

.previous_button{
    padding-left: 80px;
    padding-right: 80px;
}

.next_button{
    padding-left: 100px;
    padding-right: 100px;
}

button{
    padding-top:15px;
    padding-bottom:15px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color: #3B83E5;
    margin-left: 20px;
}
.button_div{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.page{
    padding: 0px;
    margin:0px;
}
